{% extends "base.jinja" %}

{% block title %}
    Index
{% endblock %}

{% block title_card %}
    <h5 class="card-title">Inicio</h5>
{% endblock %}

{% block conteudo %}
    <p class="card-text">Seja Bem Vindo a Dashboard de Servicos</p>
{% endblock %}