{% extends "base.jinja" %}

{% block titulo %}
    Index
{% endblock %}

{% block titulo_card %}
    <h5 class="card-title"> Inicio </h5>
{% endblock %}

{% block conteudo %}
    <p class="card-text">Seja bem vindo a DashBoard de serviços</p>
{% endblock %}